POSTGRES_DB=ticketing
POSTGRES_USER=ticketing_user
POSTGRES_PASSWORD=change_me_local
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

API_BASE_URL=http://localhost:8080

REDIS_HOST=redis
REDIS_PORT=6379

API_PORT=8080
FRONTEND_PORT=3000

QUEUE_NAME=ticket_orders
NODE_ENV=development
